<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>¡Nuestra Historia!</h1>
        <p class="text">
            
La historia de Trozana comienza con una mujer apasionada por el café en una pequeña aldea del sur de Europa. Trozana abrió una pequeña cafetería y rápidamente se convirtió en un lugar famoso en toda la región gracias a su habilidad para seleccionar los granos de café más frescos y tostarlos cuidadosamente para crear una mezcla única que solo ella conocía. El legado de Trozana continúa hoy en día, y su pasión por el café y la calidad de sus productos siguen siendo el corazón de nuestra cafetería.</p>
            <img src="/assets/img/histo.jpg" alt="" class="fotoA">
    </div>
    
</body>
</html>