h1{
    text-align: center;
}
.text{
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
    margin: 1cm 10cm;
    line-height: 3;
}
.fotoA{
    display: block;
    margin: 0 auto; 
    width: 50%;
   
}
.cta {/*el de afuera*/
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
}