<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="cta">
    <div class="bg3">

        <h1>¡Descubre el sabor único de Trozana!<br> Bienvenidos a nuestra cafetería</h1>
        <p class="text">
            ¡Bienvenidos a Trozana, la cafetería que te ofrece un sabor único en cada taza! Nuestra página web es el lugar perfecto para descubrir lo que hace que Trozana sea tan especial.
            
            En Trozana, nos esforzamos por brindarte una experiencia única en cada visita. Esperamos que disfrutes de nuestro sitio web tanto como disfrutas de nuestras deliciosas bebidas y comidas. ¡Te esperamos en Trozana!</p>
        <img src="/assets/img/logoP.jpg" alt="" class="logo">
           
    </div>
    <div class="bg3">
        <h1><strong>Nuestra promesa</strong><br>¡PARA TI!</h1>
        <p class="text">
            Nada mejor que ingresar a Trozana Café para comenzar el día, nos dedicamos a brindar el mejor servicio, un ambiente acogedor y sobre todo excelentes productos elaborados con ingredientes de la más alta calidad. Si no termina satisfecho, háganoslo saber y haremos todo lo posible para mejorar.</p>
        <img src="/assets/img/logo3.jpg" alt="" class="logo">
           
    </div>
    <div class="bg3">
        <h1>Ubicacion</h1>
        <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.7089118438616!2d-79.01531892505406!3d-2.899964897076467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd19125b7c6a41%3A0xafdf7c9c2c66429c!2sLa%20Trozana%20Caf%C3%A9!5e0!3m2!1ses!2sec!4v1683251528054!5m2!1ses!2sec" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>

    
</body>
</html>