h1{
    text-align: center;
    margin-top: -0.5cm;
}
img{
    display: block;
    margin: 0 auto; 
    width: 40%;
}
.cta {/*el de afuera*/
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
}