<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <section class="cta">
        <div class="container">
            <div class="menu">
                <div>
                    <div class="cta-inner bg3 text-center rounded">
                        <h2 class="hdos">
                            <span>Menú</span>
                        </h2>

                        <div style="background-color: ; " id="3where" class="b3 text-center container-fluid">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>
                                        <b>Bolones: </b>Hechos con plàtano verde y rellenos de de queso, chicharron o
                                        mixtos. Precio $1.50
                                    </p>
                                    <img id="img4" class="img-width img-responsive" src="/assets/img/bolones.jpeg"
                                        alt="garza">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Tigrillo: </b>Deliciosa mezcla de verde, especias y huevo con queso,
                                        chiharron o mixtos. Precio $3.25
                                    </p>
                                    <img id="img4" class=" img-width img-responsive" src="/assets/img/tigrillo.jpeg"
                                        alt="gaviota">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Envueltos: </b>Humitas de maiz, deliciosos quimbolos o tamales de cerdo.
                                        Precio $1.25
                                    </p>
                                    <img id="img4" class=" img-width img-responsive" src="/assets/img/humitas.jpeg"
                                        alt="pelicano">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Desayuno Manaba: </b>Bolón, con 2 huevos fritos y seco de carne con café.
                                        Precio $4.00
                                    </p>
                                    <img id="img4" class="img-width img-responsive" src="/assets/img/manaba.jpeg" alt="garza">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Desayuno Continental: </b>Tostadas con mantequilla, fruta, yogur con granola
                                        y café. Precio $4.00
                                    </p>
                                    <img id="img4" class=" img-width img-responsive" src="/assets/img/continental.jpeg"
                                        alt="gaviota">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Desayuno Americano: </b>Dos huevos fritos, pacaKes con arandanos, tocino y
                                        café. Precio $4.00
                                    </p>
                                    <img id="img4" class=" img-width img-responsive" src="/assets/img/americano.jpeg"
                                        alt="pelicano">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Taza de café: </b>Delicioso café pasado proveniente de la finca "La Trozana".
                                        Precio $1.25
                                    </p>
                                    <img id="img4" class="img-width img-responsive" src="/assets/img/cafe.jpeg" alt="garza">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Jugo de frutas: </b>Jugo fresco (tomate, mora, naranja,naranjilla) de la finca "La Trozana". Precio $2.00
                                    </p>
                                    <img id="img4" class=" img-width img-responsive" src="/assets/img/jugos.jpeg"
                                        alt="gaviota">
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        <b>Botella de agua mineral: </b>Botella de agua mineral con gas o sin gas, fria
                                        o al ambiente. Precio $1.00
                                    </p>
                                    <img id="img4" class=" img-width img-responsive" src="/assets/img/agua1.jpeg"
                                        alt="pelicano">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>